.sourceCard {
  position: relative;
  height: fit-content;
  background-color: var(--light-foreground);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem 0.5rem 1rem;
}

.functionContainer {
  position: absolute;
  right: 0.5rem;
  display: flex;
  gap: 0.2rem;
}

.addButton,
.trashButton {
  right: 0.5rem;
  height: 2rem;
  width: 2rem;
}

.addButton svg,
.trashButton svg {
  transition: color 0.3s ease;
}

.addButton:hover > svg {
  color: var(--brand);
}

.trashButton:hover > svg {
  color: var(--error);
}
